/** General */
html, body {
	height: 100%;
}

body {
	font-size: 1.8rem;
	background: url(../bg.jpg) no-repeat center center fixed; 
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
}

a {
	text-decoration: none;
}

/** Layout */
.Header-nav,
.Main-wrapper,
.FooterContent {
	max-width: 960px;
	margin: 0 auto;
	padding: 2rem 0;
}

/** Elements */
.Header,
.Footer {
	text-shadow:0 1px 1px #000;
}
.Main {
	background-color: rgba(255,255,255,.95);
	min-height: 60%;
}
.Header a {
	color:#EFEFEF;
}

.Menu {
	list-style: none;
	display: inline;
	padding: 0;
}
.MenuItem {
	display: inline-block;
}
.MenuItem a {
	display: block;
	padding: 1rem;
}

.Search input {
	width: 100%;
}



.Notation {
	background-color: #bbb;
	border-radius: 2px;
	margin-left: 1rem;
}
.Notation .fa-plus,
.Notation .fa-minus {
	padding: 0 .5rem
}
.Notation .fa-plus {
	color:green;
}
.Notation .fa-minus {
	border-left: 1px solid #999;
	color:red;
}
/** Lifts */
	.Lifts {
		list-style: none;
		padding: 1rem 0;
	}
	.Lift {
		background-color: #EFEFEF;
		border-radius: 2px;
		overflow: hidden;
		margin-bottom: 2rem;
	}
	.LiftTitle {
		padding: 1rem;
		margin: 0;
		background-color: #CDCDCD;
		border-bottom: 2px solid #888;
	}
	.LiftTitle-h2,
	.LiftIcons {
		margin: 1rem;
		line-height: 3rem;
	}
	.LiftIcons.bottom {
		display: none;
	}
	.LiftIcons {
		float: right;
	}

	.LiftIcons-span {
		margin-right: 1rem;
	}
	.Lift.notAviable .LiftIcons {
		display: none;
	}

	.Complete {
		font-weight: bold;
		background-color: red;
		color:yellow;
		float: right ;
		margin-right: -5rem; /* Sorry... */
		margin-top:2rem;
		padding: .5rem 5rem;
		-webkit-transform: rotate(45deg); 
		-moz-transform: rotate(45deg); 
		-o-transform: rotate(45deg);
		-ms-transform: rotate(45deg); 

	}

/** One lift view */
	.LiftText {
		font-size: 1.8rem;
		padding: 1rem;
	}

	.Lift.LiftAdditionalInfos .Btn {
		margin-top: 1rem;
	}
	.LiftAdditionalInfos {
		padding: 2rem 1rem;
	}
	.LiftAdditionalInfos h3 {
		margin: 0;
	}
/** Evals */
	.Eval {
		font-style: italic;
		color:#444;
	}
	.Eval.positif {
		color:green;
	}
	.Eval.negatif {
		color:red;
	}

/** Footer */
	.FooterContent {
		color:#fff;
	}

/** Forms */
	.CenteredForm {
		width:300px;
		margin: 0 auto;
	}
	.CenteredForm input[type="text"],
	.CenteredForm input[type="password"],
	.CenteredForm input[type="submit"],
	.CenteredForm input[type="email"] {
		width: 100%;
		margin: .5rem;
	}

	.required + ul {
		list-style: none;
		color: red;
		padding: 0;
	}

	.FormAddLift input,
	.FormAddLift select {
		margin-bottom: 1rem;
	}

	.FormAddLift input,
	.FormAddLift button {
		width: 30rem;
	}
	.FormAddLift label {
		display: none;
	}

	.FormInscription label {
		display: none;
	}


/** UI */

input,
.Btn {
	border-radius: 2px;
	border:0 none;
	padding: 1rem;
}

input[type="text"],
input[type="password"],
input[type="email"],
input[type="number"]{
	box-shadow: inset 0px 0px 2px #000;
}
input[type="text"]:active,
input[type="text"]:focus,
input[type="password"]:active,
input[type="password"]:focus,
input[type="email"]:active,
input[type="email"]:focus,
input[type="number"]:active,
input[type="numer"]:focus{
	box-shadow: inset 0px 0px 4px #000;
}

.Btn {
	color:#EFEFEF;
	background-color: #74B336;
	text-decoration: none;
	font-weight: bold;
}
.Btn:active,
.Btn:hover,
.Btn:focus {
	color:#EFEFEF;
	background-color: #333;

}

/** Tools */
.hidden {
	display: none;
}	

.capitalize {
	text-transform: capitalize;
}

/** Animate */
.Btn,
input {
	-webkit-transition: all .2s ease;
	-moz-transition: all .2s ease;
	-ms-transition: all .2s ease;
	-o-transition: all .2s ease;
	transition: all .2s ease;
}


@media(max-width:600px) {
	.LiftIcons {
		float: none;
	}
	.LiftIcons.top {
		display: none;
	}
	.LiftIcons.bottom {
		display: inherit;
	}
}