{% extends "TEPlatformBundle:Core:layout.html.twig" %}

{% block content %}
  <form action="{{ path('te_lift_search')}}" method='post' class="Search autogrid3">
      <div>
        <label for="depart" class="hidden">Ville de départ</label>
        <input type="text" name="fromCity" placeholder="Ville de départ" id="depart">
      </div>
      
      <div>
        <label for="arrivee" class="hidden">Ville d'arrivée</label>
        <input type="text" name="toCity" placeholder="Ville d'arrivée" id="arrivee">
      </div>
      
      <div>
        <input type="submit" class="Btn" value="Rechercher">
      </div>
  </form>

  {% include "TEPlatformBundle:Lift:loopLifts.html.twig" %}

{% endblock %}