<span class="LiftIcons-span">
  {{lift.lift.dateLift|date('d F Y H:i')}}
</span>
<span class="LiftIcons-span">
  {{lift.seats}} <i class="fa fa-user"></i>
</span>
<span class="LiftIcons-span">
  {{lift.lift.price}}<i class="fa fa-usd"></i>
</span>