<ul class="Lifts">
  {% if lifts %}
    {% for lift in lifts %}
      <li>
        <article class="Lift
          {% if lift.lift.isAvailable %}
            ">
          {% else %}
            notAviable">
            <div class="Complete">
              complet !
            </div>
          {% endif %}


            <div class="LiftTitle">
              <div class="LiftIcons top">
                  {% include "TEPlatformBundle:Lift:liftIcons.html.twig" %}
              </div>

              <h2 class="LiftTitle-h2">
                <a href="{{ path('te_lift_view', {'id':lift.lift.id})}}">
                    <span class="capitalize">
                      {{lift.lift.fromCity}}
                    </span>
                    <i class="fa fa-long-arrow-right"></i>
                    <span class="capitalize">
                      {{lift.lift.toCity}}
                    </span>
                </a>
              </h2>

              <div class="LiftIcons bottom">
                {% include "TEPlatformBundle:Lift:liftIcons.html.twig" %}
            </div>

        </article>
      </li>
    {% endfor %}
  {% else %}
    <p>Aucun lift à afficher :(</p>
  {% endif %}
</ul>