<ul class="Lifts">
  {% if lifts %}
    {% for lift in lifts %}
      <li>
        <article class="Lift
          {% if lift.lift.isAvailable %}
            ">
          {% else %}
            notAviable">
            <div class="Complete">
              complet !
            </div>
          {% endif %}

          <a href="{{ path('te_lift_view', {'id':lift.lift.id})}}">
            <div class="LiftTitle">
              <div class="LiftIcons top">
                  {% include "TEPlatformBundle:Lift:liftIcons.html.twig" %}
              </div>

              <h2 class="LiftTitle-h2">
                <span class="capitalize">
                  {{lift.lift.fromCity}}
                </span>
                <i class="fa fa-long-arrow-right"></i>
                <span class="capitalize">
                  {{lift.lift.toCity}}
                </span>
              </h2>
              
              <div class="LiftIcons bottom">
                {% include "TEPlatformBundle:Lift:liftIcons.html.twig" %}
            </div>
          </a>
        </article>
      </li>
    {% endfor %}
  {% else %}
    <h2>Aucun lift à afficher :(</h2>
    <p>Pourquoi ne pas en créer un ?</p>
  {% endif %}
</ul>